.footer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px 30px;
    padding: 25px 35px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    line-height: 20px;
}

.footer a:hover {
    color: var(--color-grey-ligh);
}


@media (max-width: 765px) {
    .footer {
        grid-template-columns: 1fr;
    }
}